In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_squared_log_error

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/store-sales-time-series-forecasting/oil.csv
/kaggle/input/store-sales-time-series-forecasting/sample_submission.csv
/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv
/kaggle/input/store-sales-time-series-forecasting/stores.csv
/kaggle/input/store-sales-time-series-forecasting/train.csv
/kaggle/input/store-sales-time-series-forecasting/test.csv
/kaggle/input/store-sales-time-series-forecasting/transactions.csv

In [2]:
train = pd.read_csv('../input/store-sales-time-series-forecasting/train.csv')
stores = pd.read_csv('../input/store-sales-time-series-forecasting/stores.csv')
holidays = pd.read_csv('../input/store-sales-time-series-forecasting/holidays_events.csv')
transactions = pd.read_csv('../input/store-sales-time-series-forecasting/transactions.csv')
oil = pd.read_csv('../input/store-sales-time-series-forecasting/oil.csv')
test = pd.read_csv('../input/store-sales-time-series-forecasting/test.csv')
# train['date']=pd.to_datetime(train['date'])
# test['date']=pd.to_datetime(test['date'])
# oil['date'] = pd.to_datetime(oil['date'])
# transactions['date'] = pd.to_datetime(transactions['date'])
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [3]:
stores.head()
# train.replace(to_replace=['HOME AND KITCHEN I','HOME AND KITCHEN II','HOME APPLIANCES','HARDWARE','PLAYERS AND ELECTRONICS','HOME CARE','CLEANING','LAWN AND GARDEN'],value=1,inplace=True)
# train.replace(to_replace=['BABY CARE','PERSONAL CARE','BEAUTY','LADIESWEAR','LINGERIE'],value=2,inplace=True)
# train.replace(to_replace=['BEVERAGES','BREAD/BAKERY','CELEBRATION','DAIRY','DELI','EGGS','FROZEN FOODS','GROCERY I','GROCERY II','LIQUOR,WINE,BEER','MEATS','PREPARED FOODS','PRODUCE','SEAFOOD','POULTRY','PET SUPPLIES'],value=3,inplace=True)
# train.replace(to_replace=['SCHOOL AND OFFICE SUPPLIES','MAGAZINES','BOOKS'],value=4,inplace=True)
# train.replace(to_replace=['AUTOMOTIVE'],value=5,inplace=True)

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [4]:
# holidays=holidays[(holidays['transferred']==False) & (holidays['type']!='Work Day')]
# holidays.drop(['transferred','description'],axis=1,inplace=True)
# holidays.loc[holidays['locale']=='Regional','state'] = holidays['locale_name']
# holidays.loc[holidays['locale']=='Local','city'] = holidays['locale_name']

In [5]:
# train_new = train.copy()
# train_new['Month'] = train['date'].apply(lambda x: x.split('-')[1])
# train_new['Date'] = train['date'].apply(lambda x: x.split('-')[2])
# train_new['Year'] = train['date'].apply(lambda x: x.split('-')[0])
# train_new

In [6]:
# salesbydate = train_new.groupby('Date').sum()
# salesbymonth = train_new.groupby('Month').sum()
# salesbyyear = train_new.groupby('Year').sum()
# plt.figure(figsize=(20,5))
# plt.bar(salesbymonth.index,salesbymonth['sales'],width=0.4)

In [7]:
# plt.figure(figsize=(20,5))
# plt.bar(salesbydate.index,salesbydate['sales'])

In [8]:
# plt.bar(salesbyyear.index,salesbyyear['sales'])

In [9]:
# salesbyfamily = train_new.groupby('family').sum()
# plt.figure(figsize=(20,5))
# plt.pie(salesbyfamily['sales'],labels = salesbyfamily.index)
# plt.show()
transactions

             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
...           ...        ...           ...
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [10]:
# a =train_new[['store_nbr','family']].groupby('store_nbr')['family'].apply(lambda x: ','.join(x))
# plt.figure(figsize=(20,20))
# plt.bar(salesbyfamily.index,salesbyfamily['sales'])
# salesbyfamily.drop('store_nbr',axis=1,inplace=True)
# salesbyfamily = salesbyfamily[salesbyfamily['sales']<5*10**7]
# salesbyfamily
# # plt.boxplot(salesbyfamily['sales'])
# train_new['date'] = pd.to_datetime(train_new['date'])
# train_new.sort_values(by='date')
# plt.figure(figsize=(20,5))
# # train_new = train_new[train_new['sales']<20000]
# a = train_new.groupby('date').sum()
# plt.bar(a.index,a['sales'])
# train_new['date'] = train_new['date'].astype('object')

In [11]:
train['weekend'] = pd.to_datetime(train['date']).dt.dayofweek
train['weekend'].replace(to_replace=[0,1,2,3,4],value=0,inplace=True)
train['weekend'].replace(to_replace=[5,6],value=1,inplace=True)
train

,id,date,store_nbr,family,sales,onpromotion,weekend
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,0
1,1,2013-01-01,1,BABY CARE,0.000,0,0
2,2,2013-01-01,1,BEAUTY,0.000,0,0
3,3,2013-01-01,1,BEVERAGES,0.000,0,0
4,4,2013-01-01,1,BOOKS,0.000,0,0
...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,0
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,0
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,0
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,0

In [12]:
train.groupby('weekend').sum()

                    id  store_nbr         sales  onpromotion
weekend
0        3216752343981   58953015  6.894911e+08      6069791
1        1285910549847   23571405  3.841539e+08      1740831

In [13]:
holidays=holidays[(holidays['transferred']==False) & (holidays['type']!='Work Day')]
holidays.drop(['transferred','description'],axis=1,inplace=True)
holidays.loc[holidays['locale']=='Regional','state'] = holidays['locale_name']
holidays.loc[holidays['locale']=='Local','city'] = holidays['locale_name']
holidays.loc[holidays['locale']=='National','National_holiday'] = 1
holidays.loc[holidays['locale']=='Regional', 'Regional_holiday'] = 1
holidays.loc[holidays['locale']=='Local', 'Local_holiday'] = 1
holidays.fillna({'National_holiday':0,'Regional_holiday':0,'Local_holiday':0},inplace=True)
holidays = holidays.groupby(['date','locale_name']).first()
holidays.reset_index(inplace=True)
holidays[['National_holiday','Regional_holiday','Local_holiday']] = holidays[['National_holiday','Regional_holiday','Local_holiday']].astype('uint')
# holidays

In [14]:
def dty_sincos(a):
    a['date']=pd.to_datetime(a['date'])
    (date, month, year) = (a['date'].dt.day, a['date'].dt.month, a['date'].dt.year)
    DMY = pd.DataFrame({
        'date': date.values,
        'month': month.values,
        'year': year.values
    })
    (DMY['date_sin'],DMY['date_cos'],DMY['month_sin'],DMY['month_cos'],DMY['year']) = (np.sin(2*np.pi*DMY['date']/31), np.cos(2*np.pi*DMY['date']/31),np.sin(2*np.pi*DMY['month']/12),np.cos(2*np.pi*DMY['month']/12),DMY['year'] - DMY['year'].min())
    DMY.drop(['date','month'], axis=1, inplace=True)
    a = pd.concat([a, DMY],axis=1)
    return a

In [15]:
def dat_prep(a):
#     a = pd.merge(a,transactions,how='left',on=['date','store_nbr'])
    a = pd.merge(a,oil,how='left',on='date')
    a = pd.merge(a, stores,how = 'left',on='store_nbr')
    a = a.merge(holidays[holidays['locale']=='Local'][['date','city','Local_holiday']],on=['date','city'],how='left')
    a = a.merge(holidays[holidays['locale']=='Regional'][['date','state','Regional_holiday']],on=['date','state'],how='left')
    a = a.merge(holidays[holidays['locale']=='National'][['date','National_holiday']],on=['date'],how='left')
    a = dty_sincos(a)
    a['store_nbr'] = a['store_nbr'].astype(object)
    a.fillna({'National_holiday':0,'Regional_holiday':0,'Local_holiday':0},inplace=True)
#     a['transactions']=a['transactions'].interpolate(method='linear',limit_direction='both')
    a['dcoilwtico'] = a['dcoilwtico'].interpolate(method='linear',limit_direction='both')
#     a = pd.concat([a,pd.get_dummies(a['type'],prefix='type',drop_first=True)],axis=1)
    a[['National_holiday','Regional_holiday','Local_holiday']] = a[['National_holiday','Regional_holiday','Local_holiday']].astype('uint')
#     a.replace(to_replace=['HOME AND KITCHEN I','HOME AND KITCHEN II','HOME APPLIANCES','HARDWARE','PLAYERS AND ELECTRONICS','HOME CARE','CLEANING','LAWN AND GARDEN'],value=1,inplace=True)
#     a.replace(to_replace=['BABY CARE','PERSONAL CARE','BEAUTY','LADIESWEAR','LINGERIE'],value=2,inplace=True)
#     a.replace(to_replace=['BEVERAGES','BREAD/BAKERY','CELEBRATION','DAIRY','DELI','EGGS','FROZEN FOODS','GROCERY I','GROCERY II','LIQUOR,WINE,BEER','MEATS','PREPARED FOODS','PRODUCE','SEAFOOD','POULTRY','PET SUPPLIES'],value=3,inplace=True)
#     a.replace(to_replace=['SCHOOL AND OFFICE SUPPLIES','MAGAZINES','BOOKS'],value=4,inplace=True)
#     a.replace(to_replace=['AUTOMOTIVE'],value=5,inplace=True)
#     a = pd.concat([a,pd.get_dummies(a['family'],prefix='family',drop_first=True)],axis=1)
#     a.drop('type',axis=1,inplace=True)
    return a

In [16]:
train.dtypes

id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
weekend          int64
dtype: object

In [17]:
train = dat_prep(train)
train

,id,date,store_nbr,family,sales,onpromotion,weekend,dcoilwtico,city,state,type,cluster,Local_holiday,Regional_holiday,National_holiday,year,date_sin,date_cos,month_sin,month_cos
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
1,1,2013-01-01,1,BABY CARE,0.000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
2,2,2013-01-01,1,BEAUTY,0.000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
3,3,2013-01-01,1,BEVERAGES,0.000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
4,4,2013-01-01,1,BOOKS,0.000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000

In [18]:
train.sales = np.log1p(train.sales)
train

,id,date,store_nbr,family,sales,onpromotion,weekend,dcoilwtico,city,state,type,cluster,Local_holiday,Regional_holiday,National_holiday,year,date_sin,date_cos,month_sin,month_cos
0,0,2013-01-01,1,AUTOMOTIVE,0.000000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
1,1,2013-01-01,1,BABY CARE,0.000000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
2,2,2013-01-01,1,BEAUTY,0.000000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
3,3,2013-01-01,1,BEVERAGES,0.000000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
4,4,2013-01-01,1,BOOKS,0.000000,0,0,93.14,Quito,Pichincha,D,13,0,0,1,0,0.201299,0.979530,0.500000,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,6.084802,0,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000884,3000884,2017-08-15,9,PREPARED FOODS,5.046987,1,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000885,3000885,2017-08-15,9,PRODUCE,7.791824,148,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,4.804021,8,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000
3000887,3000887,2017-08-15,9,SEAFOOD,2.833213,0,0,47.57,Quito,Pichincha,B,6,0,0,0,4,0.101168,-0.994869,-0.866025,-0.500000

In [19]:
# train.drop(['id','date','store_nbr'],axis=1,inplace=True)
# train
test = dat_prep(test)
train['test'] = False
test['test'] = True
train_test = pd.concat((train,test))

In [20]:
test

,id,date,store_nbr,family,onpromotion,dcoilwtico,city,state,type,cluster,Local_holiday,Regional_holiday,National_holiday,year,date_sin,date_cos,month_sin,month_cos,test
0,3000888,2017-08-16,1,AUTOMOTIVE,0,46.80,Quito,Pichincha,D,13,0,0,0,0,-1.011683e-01,-0.994869,-0.866025,-0.5,True
1,3000889,2017-08-16,1,BABY CARE,0,46.80,Quito,Pichincha,D,13,0,0,0,0,-1.011683e-01,-0.994869,-0.866025,-0.5,True
2,3000890,2017-08-16,1,BEAUTY,2,46.80,Quito,Pichincha,D,13,0,0,0,0,-1.011683e-01,-0.994869,-0.866025,-0.5,True
3,3000891,2017-08-16,1,BEVERAGES,20,46.80,Quito,Pichincha,D,13,0,0,0,0,-1.011683e-01,-0.994869,-0.866025,-0.5,True
4,3000892,2017-08-16,1,BOOKS,0,46.80,Quito,Pichincha,D,13,0,0,0,0,-1.011683e-01,-0.994869,-0.866025,-0.5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,3029395,2017-08-31,9,POULTRY,1,47.26,Quito,Pichincha,B,6,0,0,0,0,-2.449294e-16,1.000000,-0.866025,-0.5,True
28508,3029396,2017-08-31,9,PREPARED FOODS,0,47.26,Quito,Pichincha,B,6,0,0,0,0,-2.449294e-16,1.000000,-0.866025,-0.5,True
28509,3029397,2017-08-31,9,PRODUCE,1,47.26,Quito,Pichincha,B,6,0,0,0,0,-2.449294e-16,1.000000,-0.866025,-0.5,True
28510,3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,47.26,Quito,Pichincha,B,6,0,0,0,0,-2.449294e-16,1.000000,-0.866025,-0.5,True
28511,3029399,2017-08-31,9,SEAFOOD,0,47.26,Quito,Pichincha,B,6,0,0,0,0,-2.449294e-16,1.000000,-0.866025,-0.5,True

In [21]:
# plt.pie(train.groupby('state').sum()['sales'],labels=train['state'].unique())
# plt.show()
train_test['lag_16']=train_test['sales'].shift(1782*16)
train_test['lag_17']=train_test['sales'].shift(1782*17)
train_test['lag_18']=train_test['sales'].shift(1782*18)
train_test['lag_19']=train_test['sales'].shift(1782*19)
train_test['lag_20']=train_test['sales'].shift(1782*20)
train_test['lag_21']=train_test['sales'].shift(1782*21)
train_test['lag_22']=train_test['sales'].shift(1782*22)
train_test['lag_28']=train_test['sales'].shift(1782*28)
train_test['lag_31']=train_test['sales'].shift(1782*31)
train_test['lag_365']=train_test['sales'].shift(1782*365)

In [22]:
train = train_test[train_test['test']==False]
test = train_test[train_test['test']==True]
train
# train[train['state']=='Loja']
# plt.figure(figsize=(10,10))
# plt.pie(train.groupby('city').sum()['sales'],labels=train['city'].unique())
# plt.show()

,id,date,store_nbr,family,sales,onpromotion,weekend,dcoilwtico,city,state,...,lag_16,lag_17,lag_18,lag_19,lag_20,lag_21,lag_22,lag_28,lag_31,lag_365
0,0,2013-01-01,1,AUTOMOTIVE,0.000000,0,0.0,93.14,Quito,Pichincha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-01-01,1,BABY CARE,0.000000,0,0.0,93.14,Quito,Pichincha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013-01-01,1,BEAUTY,0.000000,0,0.0,93.14,Quito,Pichincha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2013-01-01,1,BEVERAGES,0.000000,0,0.0,93.14,Quito,Pichincha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2013-01-01,1,BOOKS,0.000000,0,0.0,93.14,Quito,Pichincha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,6.084802,0,0.0,47.57,Quito,Pichincha,...,6.251732,6.056442,6.129802,5.689721,5.861063,5.771469,5.682538,5.772690,6.246746,6.083020
3000884,3000884,2017-08-15,9,PREPARED FOODS,5.046987,1,0.0,47.57,Quito,Pichincha,...,4.986957,5.034293,4.177429,4.536217,4.062837,3.968006,4.528322,4.786883,4.972566,4.764462
3000885,3000885,2017-08-15,9,PRODUCE,7.791824,148,0.0,47.57,Quito,Pichincha,...,7.540934,7.462305,7.060684,7.038762,6.966046,7.650191,7.343800,7.686690,7.466486,7.424134
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,4.804021,8,0.0,47.57,Quito,Pichincha,...,3.737670,3.091042,1.791759,1.945910,1.386294,1.791759,1.098612,0.000000,1.098612,1.945910
3000887,3000887,2017-08-15,9,SEAFOOD,2.833213,0,0.0,47.57,Quito,Pichincha,...,3.040180,3.131835,2.484907,2.266129,2.702367,2.911154,2.836737,2.415914,3.606720,3.123554

In [23]:
train = train.dropna(subset=['lag_365'],axis=0)
train
# plt.figure(figsize=(20,20))
# train = train[(train['transactions']<5000)&(train['transactions']>500)]
# plt.plot(train.index,train['transactions'],'.',alpha=0.01)
# train['date']=train['date'].astype('object')
# train['date']=train['date'].apply(lambda x: x.split(' ')[0])
# tr = train[['date','store_nbr','transactions']].copy()

,id,date,store_nbr,family,sales,onpromotion,weekend,dcoilwtico,city,state,...,lag_16,lag_17,lag_18,lag_19,lag_20,lag_21,lag_22,lag_28,lag_31,lag_365
650430,650430,2014-01-02,1,AUTOMOTIVE,1.386294,0,0.0,95.14,Quito,Pichincha,...,0.693147,0.000000,0.000000,1.386294,1.098612,1.609438,1.386294,0.693147,0.000000,0.000000
650431,650431,2014-01-02,1,BABY CARE,0.000000,0,0.0,95.14,Quito,Pichincha,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
650432,650432,2014-01-02,1,BEAUTY,1.945910,0,0.0,95.14,Quito,Pichincha,...,1.386294,1.098612,0.000000,1.098612,1.386294,1.098612,0.693147,1.098612,0.000000,0.000000
650433,650433,2014-01-02,1,BEVERAGES,7.833996,0,0.0,95.14,Quito,Pichincha,...,7.045777,6.137727,7.127694,7.042286,7.082549,6.990257,6.938284,7.040536,6.068426,0.000000
650434,650434,2014-01-02,1,BOOKS,0.000000,0,0.0,95.14,Quito,Pichincha,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,6.084802,0,0.0,47.57,Quito,Pichincha,...,6.251732,6.056442,6.129802,5.689721,5.861063,5.771469,5.682538,5.772690,6.246746,6.083020
3000884,3000884,2017-08-15,9,PREPARED FOODS,5.046987,1,0.0,47.57,Quito,Pichincha,...,4.986957,5.034293,4.177429,4.536217,4.062837,3.968006,4.528322,4.786883,4.972566,4.764462
3000885,3000885,2017-08-15,9,PRODUCE,7.791824,148,0.0,47.57,Quito,Pichincha,...,7.540934,7.462305,7.060684,7.038762,6.966046,7.650191,7.343800,7.686690,7.466486,7.424134
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,4.804021,8,0.0,47.57,Quito,Pichincha,...,3.737670,3.091042,1.791759,1.945910,1.386294,1.791759,1.098612,0.000000,1.098612,1.945910
3000887,3000887,2017-08-15,9,SEAFOOD,2.833213,0,0.0,47.57,Quito,Pichincha,...,3.040180,3.131835,2.484907,2.266129,2.702367,2.911154,2.836737,2.415914,3.606720,3.123554

In [24]:
# len(tr)

In [25]:
# tr = pd.concat([tr,test[['date','store_nbr']]],axis=0)
# # tr = tr.reset_index()
# # tr.drop('index',axis=1,inplace=True)
# # tr['date'][0]
# # tr['date'] = tr['date'].apply(lambda x: x.astype(object))
# # tr['date'] = tr['date'].apply(lambda x: x.str.split(' ')[0])
# tr['transactions']=tr['transactions'].interpolate(method='linear',limit_direction='forward')
# tr

In [26]:
# tr = tr.iloc[2958485:,:]
# tr

In [27]:
# test = pd.concat([test,tr['transactions']],axis=1)
# test

In [28]:
# train.isnull().sum()

In [29]:
# train = train[(train['sales']<25000) | (train['onpromotion']<250)]
# train['Local_holiday'].unique()
# train['transactions']=train['transactions'].interpolate(method='linear',limit_direction='both')
# train['dcoilwtico'] = train['dcoilwtico'].interpolate(method='linear',limit_direction='both')
# train_new = train.copy()
# train_new = train_new.groupby(['state','city']).sum()
# train_new = train_new.reset_index()
# plt.figure(figsize=(20,5))
# plt.bar(train_new['city'],train_new['sales'])

In [30]:
# plt.pie(train.groupby('family').sum()['sales'],labels=train.groupby('family').sum().index.values)
# plt.show()

In [31]:
# train[['National_holiday','Regional_holiday','Local_holiday']] = train[['National_holiday','Regional_holiday','Local_holiday']].astype('uint')
# train.nunique()

In [32]:
# y = train['sales']
# x = train.drop(['sales','id','date','family','store_nbr','city','state'],axis=1)

In [33]:
train.drop('test',axis=1,inplace=True)
test.drop('test',axis=1,inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [34]:
train.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion', 'weekend',
       'dcoilwtico', 'city', 'state', 'type', 'cluster', 'Local_holiday',
       'Regional_holiday', 'National_holiday', 'year', 'date_sin', 'date_cos',
       'month_sin', 'month_cos', 'lag_16', 'lag_17', 'lag_18', 'lag_19',
       'lag_20', 'lag_21', 'lag_22', 'lag_28', 'lag_31', 'lag_365'],
      dtype='object')

In [35]:
from sklearn import preprocessing
categories = ['family','city','state','type']
for i in categories:
    encoder= preprocessing.LabelEncoder()
    train[i] = encoder.fit_transform(train[i])
    test[i] = encoder.transform(test[i])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
from sklearn.model_selection import train_test_split
train_x,val_x,train_y,val_y = train_test_split(train.drop(['id','date','sales'],axis=1),train['sales'],test_size=0.05,shuffle=False)

In [37]:
train_x.columns

Index(['store_nbr', 'family', 'onpromotion', 'weekend', 'dcoilwtico', 'city',
       'state', 'type', 'cluster', 'Local_holiday', 'Regional_holiday',
       'National_holiday', 'year', 'date_sin', 'date_cos', 'month_sin',
       'month_cos', 'lag_16', 'lag_17', 'lag_18', 'lag_19', 'lag_20', 'lag_21',
       'lag_22', 'lag_28', 'lag_31', 'lag_365'],
      dtype='object')

In [38]:
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.metrics import mean_squared_log_error

linear = LinearRegression()
model = linear.fit(train_x,train_y)

In [39]:
predictions = model.predict(val_x)
predictions = [a if a>0 else 0 for a in predictions]
print('MSLE: '+ str(mean_squared_log_error(val_y,predictions)))

MSLE: 0.037705675920251536

In [40]:
from xgboost import XGBRegressor

xgb = XGBRegressor(tree_method='gpu_hist',n_estimators=500)
xgb.fit(train_x.drop('store_nbr',axis=1),train_y,eval_set=[(train_x.drop('store_nbr',axis=1),train_y),(val_x.drop('store_nbr',axis=1),val_y)],verbose=False,early_stopping_rounds=10)
predictions= xgb.predict(val_x.drop('store_nbr',axis=1))
predictions = [a if a>0 else 0 for a in predictions]
print('MSLE: ',mean_squared_log_error(val_y,predictions))

MSLE:  0.03205163920525081

In [41]:
# train_x.dtypes
parameters = {'lambda': 6.105970537016599, 'alpha': 0.874716179324655, 'eta': 0.047228549789593455, 'colsample_bytree': 0.5, 'subsample': 0.7, 'learning_rate': 0.012, 'n_estimators': 1000, 'max_depth': 17, 'min_child_weight': 155}
xgb = XGBRegressor(tree_method='gpu_hist',**parameters)
xgb.fit(train.drop(['id','store_nbr','date','sales'],axis=1), train['sales'],verbose=False)

# predictions= xgb.predict(test)
# predictions = [a if a>0 else 0 for a in predictions]

XGBRegressor(alpha=0.874716179324655, base_score=0.5, booster='gbtree',
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5,
             enable_categorical=False, eta=0.047228549789593455, gamma=0,
             gpu_id=0, importance_type=None, interaction_constraints='',
             lambda=6.105970537016599, learning_rate=0.012, max_delta_step=0,
             max_depth=17, min_child_weight=155, missing=nan,
             monotone_constraints='()', n_estimators=1000, n_jobs=2,
             num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0.874716163, reg_lambda=6.10597038, scale_pos_weight=1,
             subsample=0.7, tree_method='gpu_hist', validate_parameters=1, ...)

In [42]:
predictions= xgb.predict(test.drop(['id','date','store_nbr','sales'],axis=1))
predictions = [a if a>0 else 0 for a in predictions]

In [43]:
sub = np.expm1(predictions)

In [44]:
# submission = pd.read_csv('../input/store-sales-time-series-forecasting/sample_submission.csv')
# submission

In [45]:
submission = pd.DataFrame({'id':test['id'],'sales':sub})
submission

            id        sales
0      3000888     4.012588
1      3000889     0.010726
2      3000890     7.565024
3      3000891  2580.915909
4      3000892     0.095506
...        ...          ...
28507  3029395   369.973644
28508  3029396    95.636012
28509  3029397  1121.826441
28510  3029398    72.143534
28511  3029399    14.072833

[28512 rows x 2 columns]

In [46]:
submission.to_csv('submission.csv', index=False)

In [47]:
# train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,random_state=42)
# import xgboost as xgb
# regressor = xgb.XGBRegressor(
#     n_estimators=300,
#     reg_lambda=1,
#     gamma=0,
#     max_depth=14
# )

In [48]:
# x.dtypes

In [49]:
# train_y = np.log(train_y+10**-25)
# test_y = np.log(test_y+10**-25)
# y=np.log1p(y)
# regressor.fit(x, y)

In [50]:
# cat_features = np.where(x.dtypes==np.object)[0]
# cat_features
# pd.DataFrame(regressor.feature_importances_.reshape(1, -1), columns=x.columns)

In [51]:
# x.isnull().sum()

In [52]:
# from catboost import CatBoostRegressor
# model=CatBoostRegressor(iterations=300, depth=7, learning_rate=0.1, loss_function='RMSE')
# model.fit(x, y,cat_features=cat_features)

In [53]:
# pred = model.predict(test_x)

In [54]:
# pred = np.exp(pred)
# test_y = np.exp(test_y)
# pred[pred<10**-10]=0
# test_y[test_y==10**-25]=0

In [55]:
# import math
# Rmse_test = math.sqrt(mean_squared_error(test_y,pred))
# r2_test = r2_score(test_y,pred)
# n= test_x.shape[0]
# p= test_x.shape[1]
# adj_r2_test = 1-(1-r2_test)*(n-1)/(n-p-1)
# print('RMSE: ', Rmse_test)
# print('r2_test: ', r2_test)
# print('adj_r2_test: ', adj_r2_test)
# rmsle = np.sqrt(mean_squared_log_error(pred,test_y.to_numpy()))
# print('RMSLE',rmsle)

In [56]:
# test = dat_prep(test)
# test

In [57]:
# tr['date'] = tr['date'].apply(lambda x: str(x).split(' ')[0])
# test['date'] = test['date'].astype('object')
# test['date'] = test['date'].apply(lambda x: str(x).split(' ')[0])
# t = tr[len(tr)-len(test):]
# test = pd.merge(test,t,how='left',on=['date','store_nbr'])
# test = pd.merge(test,t,left_index=True,right_index=True)
# test.rename(columns = {'transactions_y':'transactions','store_nbr_x':'store_nbr','date_x':'date'},inplace=True)
# test.drop(columns = ['transactions_x','store_nbr_y','date_y'],inplace=True)
# test['transactions']=2155
# test

In [58]:
# test.drop(['store_nbr','family','city','state'],axis=1,inplace=True)
# test.isnull().sum()

In [59]:
# test

In [60]:
# test_i = test.drop(['id','date'],axis=1)
# # sub = model.predict(test_i)
# sub = regressor.predict(test_i)
# sub = np.exp(sub)
# sub

In [61]:
# submission = pd.DataFrame({'id':test['id'],'sales':sub})
# submission

In [62]:
# submission.to_csv('submission.csv', index=False)

In [63]:
# import lightgbm

# lgbm = lightgbm.LGBMRegressor(boosting_type='gbdt',
#                               max_depth=3,
#                               n_estimators=200,
#                               learning_rate=0.4,
#                               objective='mse',
#                               n_jobs=-1, random_state=0)

In [64]:
# lgbm.fit(train_x, train_y)
# pred_y = lgbm.predict(test_x)
# py = np.exp(pred_y)

In [65]:
# test_y = np.exp(test_y)

In [66]:
# rmsle = np.sqrt(mean_squared_log_error(test_y.to_numpy(),py))
# print('rmsle :',rmsle)

In [67]:
# test = dat_prep(test)
# test_i = test.drop(['date','id'],axis=1)
# test_i
# test_i=test_i.astype({'store_nbr':'category','family':'category','type':'category'})

In [68]:
# pr_y=lgbm.predict(test_i)
# pr_y = np.exp(pr_y)

In [69]:
# submission = pd.DataFrame({'id':test['id'],'sales':pr_y})
# submission

In [70]:
# submission.to_csv('submission.csv', index=False)

In [71]:
# test = pd.read_csv('../input/store-sales-time-series-forecasting/test.csv')
# train[['store_nbr','sales','onpromotion','transactions','dcoilwtico','cluster','Local_holiday','Regional_holiday','National_holiday','year']].corr()